@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --verde: #2bb500;
    --laranja: #d61c00;
    --roxo: #6336c5;
    --amarelo: #d1d401;
    --rosa: #bd0f4f;
    --cinza: #d9d9d9;
    --background: #131313;
    --corpo: 'Be Vietnam Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    list-style-position: inside;
    text-decoration: none;
    scrollbar-width: 10px;
    scrollbar-color: #000;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: var(--cinza);
}

*::-webkit-scrollbar-thumb {
    background-color: #000;
    border-right: 1px solid var(--cinza);
}

::selection {
    color: #000;
    background-color: var(--roxo);
}

html {
    overflow-x: hidden;
}

body {
    background-color: var(--cinza);
    font-family: var(--corpo);
    color: #000;
    line-height: 1.8em;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    height: auto;
}

/* ---------- Starts header ---------- */
header {
    background: var(--cinza) url(../media/mockup-header.png) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 760px;
}

header > a {
    width: 90px;
    margin: 3rem;
    color: #fff;
    display: flex;
    align-items: center;
    transition: .1s all;
}

header > a i {
    padding-right: .5rem;
}

header > a:hover {
    font-weight: 900;
}

header .text-wrapper {
    max-width: 750px;
    min-height: 500px;
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .text-wrapper h1 {
    font: 900 4em var(--corpo);
    color: #fff;
}

header .text-wrapper h3 {
    font: 200 3em var(--corpo);
    color: #fff;
}

nav {
    height: 80px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #00000091;
    z-index: 1;
    transition: .5s all;
}

nav:hover {
    background-color: var(--cinza);
}

nav img {
    width: 95px;
    padding-left: 2rem;
}

nav ul {
    display: flex;
}
nav ul li {
    padding: 0 2rem;
}

nav ul li a {
    color: #000;
    font-weight: 500;
}

nav a:hover {
    transition: .1s all;
    color: var(--roxo);
}

nav #btn-mobile {
    display: none;
}
/* ---------- Finishes header ---------- */

/* ---------- Starts sections ---------- */
.project__description {
    max-width: 1200px;
    height: auto;
    margin: 2rem auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.project__description p {
    max-width: 700px;
    font: 300 1.3em var(--corpo);
    line-height: 1.8em;
    margin: 2rem 0;
}

.project__description .info {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.project__description .info img {
    width: 40%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}

.project__description .info .info__desc {
    width: 50%;
}

.info .info__title ul li {
    padding: 2.4rem 0;
    font-weight: 800;
}

.info .info__desc ul li {
    padding: 1rem 0;
    border-bottom: solid 1px #000;
}

.info .info__desc ul li a {
    color: #000;
    font-weight: 600;
    transition: .2s all;
}

.info .info__desc ul li a:hover {
    font-weight: 900;
}

.project__photo {
    max-width: 1200px;
    height: auto;
    margin: 2rem auto;
    padding: 1.5rem;
    text-align: center;
}

.project__photo img {
    width: 100%;
    border-radius: 10px;
}

.next__project {
    max-width: 1150px;
    height: auto;
    margin: 8rem auto;
    display: flex;
    justify-content: space-between;
}

.next__project a {
    font: 400 4.5em var(--corpo);
    color: #000;
    display: flex;
    align-items: center;
    transition: .3s all;
}

.next__project a i {
    font-size: 1em;
}

.next__project a:hover {
    font-weight: 900;
}
/* ---------- Finishes sections ---------- */

/* ---------- Starts footer ---------- */
footer {
    min-height: 350px;
    padding: 3rem;
    background-color: var(--background);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
    border: 5px solid var(--cinza);
    border-radius: 15px;
}

footer h2 {
    font: 900 2.2em var(--corpo);
}

footer p {
    font: 400 1.3em var(--corpo);
    margin-bottom: .5rem;
    color: #fff;
}

footer a {
    font: 600 1.3em var(--corpo);
    color: #fff;
    transition: .5s all;
}

footer a:hover {
    font-weight: 800;
}

footer ul {
    display: flex;
    gap: 5rem;
}

footer ul li {
    padding: 1rem;
}

footer ul li a {
    font-weight: 400;
}
/* ---------- Finishes footer ---------- */


/* ---------- Starts media queries ---------- */

@media screen and (max-width: 768px) {
/* ---------- Starts header ---------- */
header nav #menu {
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: var(--cinza);
    transition: .6s all;
    visibility: hidden;
    overflow-y: hidden;
}
    
nav img {
    width: 65px;
    padding-left: .5rem;
}

header #nav.active #menu {
    width: 100%;
    height: calc(100vh - 70px);
    visibility: visible;
    padding: 0 2rem;
}

nav #menu li {
    text-align: right;
    font-size: 2.2em;
    padding: 1.5rem 0;
}

nav #btn-mobile {
    display: block;
    padding: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: .5rem;
}

nav #btn-mobile #burguer-icon {
    width: 30px;
    height: 2px;
    display: block;
    border-top: 2px solid;
    color: #000;
    transition: .1s all;
}

nav #btn-mobile #burguer-icon::after {
    width: 30px;
    height: 2px;
    display: block;
    content: '';
    background: currentColor;
    margin-top: 10px;
    position: relative;
}

header #nav.active #burguer-icon {
    transform: rotate(45deg);
}

header #nav.active #burguer-icon::after {
    transform: rotate(90deg);
    top: -12px;
}

header .text-wrapper h1 {
    font-size: 3em;
}

header .text-wrapper h3 {
    font-size: 2em;
}
/* ---------- Finishes header ---------- */

/* ---------- Starts projects ---------- */
.project__description .info {
    flex-direction: column;
}

.project__description .info img {
    width: auto;
}

.project__description .info .info__desc {
    width: 100%;
}

.next__project {
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}
/* ---------- Finishes projects ---------- */

/* ---------- Starts footer ---------- */
footer {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

footer h2 {
    font-size: 1.8em;
}

footer ul {
    flex-direction: column;
    gap: 0;
}
/* ---------- Finishes footer ---------- */
}