@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --verde: #2bb500;
    --laranja: #d61c00;
    --roxo: #6336c5;
    --amarelo: #d1d401;
    --rosa: #bd0f4f;
    --corpo: 'Be Vietnam Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    list-style-position: inside;
    text-decoration: none;
    scrollbar-color: #aaa;
    scrollbar-width: 8px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #000;
}

*::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-right: 3px solid #000;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

::selection {
    color: #000;
    background-color: var(--amarelo);
}

body {
    background-color: #000;
    font-family: var(--corpo);
    color: #fff;
    line-height: 1.8em;
    overflow-x: hidden;
}

/* ---------- Starts Header ---------- */
header {
    height: 650px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header #square1, header #square2, header #square3 {
    width: 300px;
    height: 300px;
    z-index: -1;
    position: absolute;
}

header #square1 {
    top: 10rem;
    left: -150px;
    border: solid 5px var(--laranja);
}

header #square2 {
    top: 5rem;
    right: -150px;
    border: solid 2px var(--rosa);
    transform: rotate(50deg);
}

header #square3 {
    top: 25rem;
    right: 18rem;
    border: solid 3px var(--verde);
    transform: rotate(75deg);
}

nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #000;
    border-bottom: 1px solid #fff;
}

nav img {
    width: 95px;
    padding-left: 2rem;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 2rem;
}

nav ul li a {
    color: #fff;
}

nav ul li a:hover {
    transition: .1s all;
    color: var(--roxo);
}

nav #btn-mobile {
    display: none;
}

header .header-text {
    height: 500px;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .header-text h1 {
    font: 900 20vw var(--corpo);
    letter-spacing: -10px;
    text-align: center;
}

header .header-text h3 {
    font: 600 1.5em var(--corpo);
    line-height: 1.8em;
    margin-left: 3rem;
}
/* ---------- Finishes Header ---------- */

/* ---------- Starts projects ---------- */
.projects-sec {
    width: 100%;
    height: auto;
    margin: 8rem auto;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #fff;
}

.project {
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.projects-sec a {
    max-height: 400px;
    color: #fff;
    font: 400 1.5em var(--corpo);
    margin: 2.5rem auto;
}

.project .projects-text {
    margin-bottom: 1.5rem;
}
    
.projects-container {
    width: 550px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #757575;
    border-radius: 10px;
    transition: .2s all;
}

.projects-container:hover {
    transform: scale(0.98);
}

.projects-container img {
    width: 65%;
    display: block;
    box-shadow: 0 0 10px #0000003a;
}

.projects-sec #project-two {
    background: none;
}
/* ---------- Finishes projects ---------- */

/* ---------- Starts footer ---------- */
footer {
    height: 350px;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #fff;
}

footer p {
    font: 400 1.3em var(--corpo);
    color: #fff;
    margin-bottom: .5rem;
}

footer a {
    font: 200 1.3em var(--corpo);
    color: #fff;
}

footer ul li {
    padding: .5rem;
}

footer ul li a {
    color: #fff;
    text-decoration: underline;
    transition: .5s all;
}

footer a:hover {
    color: #aaa;
}
/* ---------- Finishes footer ---------- */


/* ---------- Starts media queries ---------- */
@media screen and (max-width: 1200px) {
.projects-sec .projects-container {
    width: 460px;
}
}

 
@media screen and (max-width: 768px) {

/* ---------- Starts header ---------- */
header #square1, header #square2, header #square3 {
    width: 200px;
    height: 200px;
}

header #bola1 {
    left: calc(-200px / 2);
}

header #square2 {
    right: calc(-200px / 2);
}

header #square3 {
    right: 0;
}

header nav #menu {
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #000;
    transition: .6s all;
    visibility: hidden;
    overflow-y: hidden;
    z-index: 9999;
}

header #nav.active #menu {
    width: 100%;
    height: calc(100vh - 70px);
    visibility: visible;
    padding: 0 2rem;
}

header #menu li {
    text-align: right;
    font-size: 2.2em;
    padding: 1.5rem 0;
}

header #btn-mobile {
    display: block;
    padding: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: .5rem;
}

header #btn-mobile #burguer-icon {
    width: 30px;
    height: 2px;
    display: block;
    border-top: 2px solid;
    color: #fff;
    transition: .1s all;
}

header #btn-mobile #burguer-icon::after {
    width: 30px;
    height: 2px;
    display: block;
    content: '';
    background: currentColor;
    margin-top: 10px;
    position: relative;
}

header #nav.active #burguer-icon {
    transform: rotate(45deg);
}

header #nav.active #burguer-icon::after {
    transform: rotate(90deg);
    top: -12px;
}

nav img {
    width: 65px;
    padding-left: .5rem;
}

header .header-text h1 {
    letter-spacing: -5px;
}

header .header-text h3 {
    font-size: 1.2em;
    margin-left: 1rem;
}
/* ---------- Finishes header ---------- */

/* ---------- Starts footer ---------- */
footer {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

footer p, footer a {
    font-size: 1em;
}
/* ---------- Finishes footer ---------- */
}


@media screen and (max-width: 480px) {
.projects-sec .projects-container {
    width: 100%;
    height: 350px;
}

.projects-sec .projects-container img {
    width: 80%;
}

}

