@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --verde: #2bb500;
    --laranja: #d61c00;
    --roxo: #6336c5;
    --amarelo: #d1d401;
    --rosa: #bd0f4f;
    --corpo: 'Be Vietnam Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    list-style-position: inside;
    text-decoration: none;
}

body {
    background-color: #000;
    font-family: var(--corpo);
    color: #fff;
    line-height: 1.8em;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* ---------- Starts Header ---------- */
header {
    height: 800px;
    display: flex;
    flex-direction: column;
    position: relative;
}

header #bola1 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: linear-gradient(140deg, var(--roxo), var(--rosa));
    z-index: -1;
    position: absolute;
    top: 10rem;
    left: -150px;
}

header #bola2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: linear-gradient(140deg, var(--laranja), var(--rosa));
    z-index: -1;
    position: absolute;
    top: 5rem;
    right: -150px;
}

header #bola3 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, var(--verde), var(--roxo));
    z-index: -1;
    position: absolute;
    top: 25rem;
    right: 18rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1rem;
    height: 80px;
}

nav img {
    width: 80px;
    height: 80px;
}

nav ul {
    display: flex;
    padding: 0 3rem;
}

nav ul li {
    padding: 0 2rem;
}

nav ul li a {
    color: #fff;
}

nav a:hover {
    transition: .1s all;
    color: var(--amarelo);
    padding-bottom: .6rem;
    border-bottom: 1px solid var(--amarelo);
}

header .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    margin: 3rem 0 0 5rem;
}

header .header-text h1 {
    font: 900 3.5em var(--corpo);
    margin-bottom: .8rem;
}

header .header-text p {
    font: 300 1.2em var(--corpo);
}
/* ---------- Finishes Header ---------- */

/* ---------- Starts sec-projects ---------- */
.sec-projects {
    width: 100%;
    min-height: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec-projects .project-container {
    width: 1300px;
    height: 600px;
    margin: 2rem auto;
    display: flex;
    border-radius: 30px;
    transition: .2s all;
}

.sec-projects .project-container:hover {
    transform: scale(0.98);
}

.sec-projects .project-container .project-text {
    width: calc(1300px / 2);
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5rem;
}

.project-container .project-text h1 {
    font: 900 3em var(--corpo);
    margin-bottom: .8rem;
}

.project-container .project-text p {
    font: 400 1em var(--corpo);
    line-height: 2em;
}

.project-container button {
    width: 10rem;
    height: 2.5rem;
    margin-top: 1rem;
    border-radius: 20px;
    border: none;
    color: #fff;
    background-color: #614a48;
    cursor: pointer;
}

.sec-projects .project-container img{
    width: 50%;
    border-radius: 0 30px 30px 0;
}

.sec-projects #project-one {
    background-color: #e1a9a3;
    color: #000;
}

.sec-projects #project-two {
    background-image: linear-gradient(to right, #e84f1f, #849e56);
}
/* ---------- Finishes sec-projects ---------- */

/* ---------- Starts sec-social-media ---------- */
.sec-social-media {
    max-width: 1200px;
    min-height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-social-media ul {
    display: flex;
    flex-direction: row;
}

.sec-social-media ul li {
    padding: 0 4rem;
    font-size: 1.8em;
}

.sec-social-media ul li a {
    color: #fff;
    text-decoration: underline;
}
/* ---------- Finishes sec-social-media ---------- */

/* ---------- Starts footer ---------- */
footer {
    text-align: center;
}

footer h1 {
    color: #aaa;
    font: 900 20vw var(--corpo);
    letter-spacing: -10px;
}
/* ---------- Finishes footer ---------- */
